{include file="pub/head"}
   






<!--publicBanner-->
<div class="piblicBanner">
    <img  class="ggg"   src="{:substr($data[0]['img'],1)}">

    <style>
        @media screen and (min-width: 1201px){
            .ggg{
                height: 550px;
            }
        }
    </style>

</div>
<!--aboutHighDao-->
<div class="aboutHighDao">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab">
                    <ul>

 

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="innerAbout" id="innerAbout">
        <div class="container">

        <!-- FSDFSDDDDDDDDDDDDDDDDDDDDDD -->
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <h3>公司简介 /
                            <small>COMPANY PROFILES</small>
                            <span class="line"></span></h3>
                    </div>
                    <div class="aboutContent">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="aboutImg">
                                    <img  width="650" height="300" src="{:substr($data[1]['img'],1)}" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="aboutTxt">
                                    <p>{$infos.about_us}</p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
             
        </div>
    </div>
    <div  class="companyProfiles" id="companyProfiles">
        <div class="container">

        <!-- FSDFSDDDDDDDDDDDDDDDDDDDDDD -->
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <h3>历史沿革 /
                            <small> Historical evolution</small>
                            <span class="line"></span></h3>
                    </div>
                    <div class="aboutContent">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="aboutImg">
                                    <img  width="650" height="300" src="{:substr($data[2]['img'],1)}" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="aboutTxt">
                                    <p>&nbsp&nbsp公司于1990年成立于中国北京，成立之初名为北京邓氏制冷安装服务中心，主要从事家（商）用空调设备销售及安装和冷库制作安装工程，同时提供咨询、工程设计等服务。合作品牌有美的、大金、日立、麦克维尔、格里等国内外一流品牌，公司是国内第一批成立美的空调专卖店企业，</p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
             
        </div>
    </div>
    <div class="companyHonors" id="companyHonors">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <h3>公司荣誉 /
                            <small>COMPANY HORNORS</small>
                            <span class="line"></span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="owl-carousel comment-carousel-carousel">
                    <div class="honnor">
                        <img src="{:config('home_images')}/honnorimg.jpg" class="img-responsive">
                        <div class="honnorTxt">
                            <h4>计算机软件著作权等级证书</h4>
                            <p>恒道FTA外贸助手软件</p>
                        </div>
                    </div>
                    <div class="honnor">
                        <img src="{:config('home_images')}/honnorimg.jpg" class="img-responsive">
                        <div class="honnorTxt">
                            <h4>计算机软件著作权等级证书</h4>
                            <p>恒道FTA外贸助手软件</p>
                        </div>
                    </div>
                    <div class="honnor">
                        <img src="{:config('home_images')}/honnorimg.jpg" class="img-responsive">
                        <div class="honnorTxt">
                            <h4>计算机软件著作权等级证书</h4>
                            <p>恒道FTA外贸助手软件</p>
                        </div>
                    </div>
                    <div class="honnor">
                        <img src="{:config('home_images')}/honnorimg.jpg" class="img-responsive">
                        <div class="honnorTxt">
                            <h4>计算机软件著作权等级证书</h4>
                            <p>恒道FTA外贸助手软件</p>
                        </div>
                    </div>
                    <div class="honnor">
                        <img src="{:config('home_images')}/honnorimg.jpg" class="img-responsive">
                        <div class="honnorTxt">
                            <h4>计算机软件著作权等级证书</h4>
                            <p>恒道FTA外贸助手软件</p>
                        </div>
                    </div>
                    <div class="honnor">
                        <img src="{:config('home_images')}/honnorimg.jpg" class="img-responsive">
                        <div class="honnorTxt">
                            <h4>计算机软件著作权等级证书</h4>
                            <p>恒道FTA外贸助手软件</p>
                        </div>
                    </div>
                    <div class="honnor">
                        <img src="{:config('home_images')}/honnorimg.jpg" class="img-responsive">
                        <div class="honnorTxt">
                            <h4>计算机软件著作权等级证书</h4>
                            <p>恒道FTA外贸助手软件</p>
                        </div>
                    </div>
                    <div class="honnor">
                        <img src="{:config('home_images')}/honnorimg.jpg" class="img-responsive">
                        <div class="honnorTxt">
                            <h4>计算机软件著作权等级证书</h4>
                            <p>恒道FTA外贸助手软件</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   

 
</div>
<script>
    var lis = document.getElementsByClassName("btn");
    for(var i = 0; i < lis.length; i++) {
        lis[i].onclick = function() {
            //获取当前li的data-to属性值，用来匹配目标div
            var attr = this.getAttribute("data-to");
            //获取与当前li想匹配的div距离页面顶端的距离
            var div_top = document.getElementById(attr).offsetTop;
            window.scrollTo(0, div_top - 90);
        }
    }
</script>
<!----footer---->
{include file="pub/foot"}
